body {
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}

a{
    color: #fff;
    text-decoration: none;
}

.game{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

canvas {
    border: 1px solid #fff;
}

button{
    border: none;
    background-color: blue;
    display: flex;
    justify-content: center;
}